<tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.goals %></td>
		<td><%= player.ready %></td>
		<br>
         <code lang="javascript">
</code>
      </tr>
    <% end %>
  </tbody>
  